# 说明
# 通配符：
#   *               匹配除 / 外所有字符
#   **              匹配所有字符，包括 /
#   ?               匹配单个字符
#   [name]          匹配 name 字符串
#   [!name]         匹配 非 name 字符串
#   [num1..num2]    匹配 num1 到 num2 之间的所有数字
#   {s1,s2,s3}      匹配 s1 s2 s3 任意一个字符串

# top-most EditorConfig file
root = true

# all files
[*]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
max_line_length = 256
insert_final_newline = true
trim_trailing_whitespace = true

################ 缩进相关
# 续行 换行时，缩进 4 个 space
ij_continuation_indent_size = 4
# 使用相对上一行情况缩进
ij_any_use_relative_indents = false

################ 界面，输入相关
# 在指定列显示标线
ij_visual_guides = 80, 120
# 输入时，行超长，自动插入换行符
ij_wrap_on_typing = false
# 行超长，自动换行显示，而不会自动插入换行符
ij_any_wrap_long_lines = true
# 注释也换行
ij_any_wrap_comments = true

################ 注释相关配置
# 注解前面添加空格
ij_any_line_comment_add_space = true
ij_any_line_comment_add_space_on_reformat = false
ij_any_block_comment_add_space = true

# false: 注释符 根据代码位置确定，而不是默认首列
ij_any_keep_first_column_comment = false
ij_any_line_comment_at_first_column = false
ij_any_block_comment_at_first_column = false

################ 代码对齐相关
# 对齐连续赋值语句
ij_any_align_consecutive_assignments = true
# 对齐多行方法参数
ij_any_align_multiline_parameters = true
# 对齐多行赋值语句
ij_any_align_multiline_assignment = true
ij_any_align_multiline_array_initializer_expression = true
ij_any_align_multiline_parenthesized_expression = true

ij_any_align_multiline_method_parentheses = false
ij_any_align_multiline_parameters_in_calls = false
ij_any_align_multiline_chained_methods = false

ij_any_align_multiline_ternary_operation = true
ij_any_align_multiline_extends_list = true
# 方法调用链中，第一个方法调用换行
ij_any_wrap_first_method_in_call_chain = true





[*.{java, groovy, go}]
max_line_length = 128

# java doc 不参与格式化
ij_java_doc_enable_formatting = false


[*.{js, mjs, cjs, yml, yaml, json, json5, html, ftl, ftlh, vue, hcl, xml}]
indent_size = 2
tab_width = 2

ij_continuation_indent_size = 2
